#background{
    padding-top: 100px;
    text-align: center;
    animation-duration: 2s;
}
#Participantes{
    animation-duration: 1s;
	animation-timing-function: ease;
    animation-iteration-count: infinite;
}
#carouselExampleDark{
    margin: 50px;
}
#paraTelefone{
    display: none;
}
#bellow-text{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 50px;
    padding-top: 100px;
    padding-bottom: 50px;
}
#bellow-text h5{
    padding: 10px;
    text-align: center;
    color: #5E6FA7;
}
#bellow-text p{
    width: 300px;
    text-align: center;
}

#bellow-text img{
    text-align: center;
    width: 200px;
    height: auto;
}
#image{
    width: 1349px;
    height: 400px;
    opacity: 0.5;
}
#cartoes{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 30px;
    border-color: blueviolet;
}
#carrosel{
    margin-top: 30px;
}

#slide-content{
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    gap: 50px;
}
#slide-content h5{
    padding-top: 10px;
}

#title{
    display: none;
}
#subtitle{
    display: none;
}
#hamburger{
    color: white;
    font-size: 30px;
}
#maps{
   text-align: center;
   color: white;
}
#content-aboutus{
    margin-top: 100px;
    margin-bottom: 100px;   
}
#content-aboutus h2{
    text-align:center;
    padding-top: 20px;
    color: white;
}
#team{
    width: 600px;
    height: 400px;
}
#aboutus{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#aboutus p{
    text-align: justify;
    width: 900px;
    height: auto;
    padding-left: 30px;
    padding-right: 30px;
    
    color: white;
}
#aboutus-text{
    justify-content: center;
    background-color: #5E6FA7;
}
#button{
    background-color: #5E6FA7;
    border-color:#5E6FA7;
}
@media (max-width:890px){
    #background{
        font-size: 20px;
        padding-bottom: 25px;
        padding-top: 100px;
        margin: 0px;
        text-align: center; 
        justify-content: center;
        align-items: center;
    }
    #bellow-text{
        display: inline-block;   
    }
    #bellow-text p{
        width: 300px;
    }
    #bellow-text img{
        width: 100px;
        height: auto;
    }
    #cartoes{
        display: block; 
        justify-content: center;
        align-items: center;
    }
    #mobile p{
        display:block;
    }
    #mobile h5{
        display:block;
    }
    #widescreen p{
        display: none;
    }
    #widescreen h5{
        display: none;
    }
    #slide-content{
        gap: 0px;
        width: auto;
        color: white;
    }
    #slide img{
        margin-left: auto;
        margin-right: auto;
    }
    #widescreen p{
        display: none;
    }
    #widescreen h5{
        display: none;
    }
    #card{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    #team{
        width: 100%;
        height: 300px;
    }
    #aboutus{
        display: block;
        justify-content: center;
        width: auto;
    }
    #aboutus p{
        text-align: justify;
        width: 100%;
        height: auto;
        color: white;
    }
    #paraTelefone{
        display: block;
        background-color: #5E6FA7;
        border-radius: 10px;
        padding: 30px;
    }
    #paraTelefone p{
        text-align: justify;
        color: white;
    }
    #slide-content p{
        display: none;
    } 
    #slide-content h2{
        display: none;
    }
}