#background{
    margin-top: 90px;
    margin-bottom: 90px;
    text-align: center; 
}
#image{
    width: 1349px;
    height: 400px;
    opacity: 0.5;
}
#pq_eu{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 50px;
}
#instagram{
    text-decoration-color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
#whatsapp{
    color: #25d366;
    border-radius: 50%;
}
#facebook{
    color: 	#1877F2;
    height: 26px;
}
#carrosel{
    margin-top: 30px;
}
#yasmin{
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    gap: 50px;
}
#title{
    display: none;
}
#subtitle{
    display: none;
}

@media screen and (min-width: 500px) and (max-width:900px){
    #pq_eu{
        display: block; 
    }
    #mobile p{
        display:block;
    }
    #mobile h5{
        display:block;
    }
    #widescreen p{
        display: none;
    }
    #widescreen h5{
        display: none;
    }
    #yasmin{
        gap: 0px;
        width: auto;
    }
    #yasmin img{
        margin-left: auto;
        margin-right: auto;
    }
    #widescreen p{
        display: none;
    }
    #widescreen h5{
        display: none;
    }
    #card{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    #instagram{
        display: none;
    }
    #whatsapp{
        display: none;
    }
    #facebook{
        display: none;
    }
    #card{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
}