#background{
    padding-top: 20px;
    text-align: center;
    animation-duration: 2s; 
}

#bellow-text{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 40px;
}
#bellow-text h5{
    padding: 10px;
    text-align: center;
}
#bellow-text p{
    width: 300px;
    text-align: center;
}

#bellow-text img{
    text-align: center;
    width: 200px;
    height: auto;
}
#image{
    width: 1349px;
    height: 400px;
    opacity: 0.5;
}
#pq_eu{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 30px;
    
}
#carrosel{
    margin-top: 30px;
}

#slide-content{
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    gap: 50px;
}
#title{
    display: none;
}
#subtitle{
    display: none;
}
#hamburger{
    color: white;
    font-size: 30px;
}
#maps{
   text-align: center;
   color: white;
}
#maps iframe{
    width: 85%;
    height: 400px;
    padding: 20px;
}
#content-aboutus{
    margin-top: 100px;
    margin-bottom: 100px;   
}
#content-aboutus h2{
    text-align:center;
    padding-top: 20px;
    color: white;
}
#team{
    width: 600px;
    height: 300px;
}
#aboutus{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#aboutus p{
    text-align: justify;
    width: 900px;
    height: 100px;
    padding: 30px;
    color: white;
}
#aboutus-text{
    justify-content: center;
    background-color: #5E6FA7;
}
@media (max-width:990px){
    #background{
        font-size: 10px;
        padding-bottom: 100px;
        padding-top: 100px;
        margin: 0px;
        text-align: center; 
    }
    #bellow-text{
        display: block;
        text-align: center;
    }
    #bellow-text img{
        text-align: center;
        width: 100px;
        height: auto;
    }
    #pq_eu{
        display: block; 
    }
    #mobile p{
        display:block;
    }
    #mobile h5{
        display:block;
    }
    #widescreen p{
        display: none;
    }
    #widescreen h5{
        display: none;
    }
    #slide-content{
        gap: 0px;
        width: auto;
    }
    #slide img{
        margin-left: auto;
        margin-right: auto;
    }
    #widescreen p{
        display: none;
    }
    #widescreen h5{
        display: none;
    }
    #card{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    #card{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    #team{
        width: auto;
        height: 300px;
    }
    #aboutus{
        display: block;
        justify-content: center;
    }
    #aboutus p{
        text-align: justify;
        width: 100px;
        height: 100px;
        padding: 30px;
        color: white;
    }
}